{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container"><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <img id="profile-pic" src="{% static '/images/profile.jpg' %}" alt="profile-fic">
                <hr>
                <h4 id="profile-wrapper"> Hi I'm Kabiru</h4>
                <p>
                    Nasarawa quarters, Layin Gidan Balaraba mai shinkafa, 
                    Ringim LGA, Jigawa State.
                    Phone No: 07032858860, 07067744532
                    Email: proffkebi@gmail.com
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-body">
                <h3 id="profile-wrapper">Kabiru ABDULLAHI</h4><hr>
                <h4>OBJECTIVE</h4>
                <hr>
                <p>
                    To enhance my knowledge and capabilities 
                    by working in a dynamic organization that prides itself in giving substantial responsibility to a new talent.
                </p>
                <ul class="social-links">
                   <a href="https://web.facebook.com/proff.kebi"> <li><img class="social" src="{% static 'images/facebook.png' %}"> </li></a>
                    <li><img class="social" src="{% static 'images/instagram.png' %}"> </li>
                    <li><img class="social" src="{% static 'images/linkedin.png' %}"> </li>
                    <li><img class="social" src="{% static 'images/twitter.png' %}"> </li>
                   <a href="https://github.com/proffkebi?tab=repositories"> <li><img class="social" src="{% static 'images/github.png' %}"> </li></a>
                </ul>
            </div>

        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>EDUCATIONAL INSTITUTIONS</h4>
                <hr>
                <pre>
ACETEL Cisco Networking Academy	                      2021-2022
Sandip University Nashik, Maharashtra India.	      2019-2021
International University of East Africa Kampala UG    2013-2014 
Institute of Information Technology Kazaure, Jigawa S 2010-12  
Ringim Computer Training School:                      2009
Government Day Secondary School Ringim:               2003– 2009
Galadanchi Model Primary School: 	              1997-2003
                </pre>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <h4>QUALIFICATIONS</h4>
                <hr>
                <pre>
MSc Information Technology (MSc. IT) (Awaiting Result)
Certificate of National Youth Service Corps NYSC
Bachelor of Information Technology (BIT)
International Advance Diploma In Computing (IADIC)
International Diploma In Computing (IDIC)
Foundation Certificate for Higher Education (FCHE)
Certificate of Data Processing
Secondary School Leaving Certificate
Primary School Leaving Certificate 
                </pre>
            </div>

        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body">
                <h6>QUALIFICATIONS</h6>
                <hr>
                <ul class="professional">
                   <li> CCNA1: Introduction to Network</li>
                   <li> CCNA2: Switch Routing and Wireless Essentials (SWRE)</li>
                   <li> Network cabling specialist (NCS)</li>
                    	Copper based system 
                    	Fiber optic based system
                    <li> Integrated system voice and messaging (ISVM)</li>
                    <li> Web development using dream weaver and internet basic  </li>
                    <li> Graphic design using vector and image design studio</li>
                    <li> Introduction to printing technology </li>
                    <li> Close circuit television (CCTV) </li>

                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-body"></div>
        </div>
        <div class="col-md-4">
            <div class="card card-body"></div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body"></div>
        </div>
        <div class="col-md-6">
            <div class="card card-body"></div>

        </div>
    </div> 

</div>

</body>
</html>