{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container"><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-body h-100">
                <img id="profile-pic" src="{% static '/images/profile.jpg' %}" alt="profile-fic">
                <hr>
                <h4 id="profile-wrapper"> Hi I'm Kabiru</h4>
                <p>
                    Nasarawa quarters, Layin Gidan Balaraba mai shinkafa, 
                    Ringim LGA, Jigawa State.
                    Phone No: 07032858860, 07067744532
                    Email: proffkebi@gmail.com
                </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-body h-100">
                <h1 id="profile-wrapper">Kabiru ABDULLAHI</h1>
                <h5 id="profile-wrapper">Senior Network Engineer | Graphic Designer | Web Developer</h5>
                <hr>
                <h4>OBJECTIVE</h4>
                <hr>
                <p>
                    To enhance my knowledge and capabilities 
                    by working in a dynamic organization that prides itself in giving substantial responsibility to a new talent.
                </p>
                <ul class="social-links">
                   <a href="https://web.facebook.com/proff.kebi"> <li><img class="social" src="{% static 'images/facebook.png' %}"> </li></a>
                    <li><img class="social" src="{% static 'images/instagram.png' %}"> </li>
                    <li><img class="social" src="{% static 'images/linkedin.png' %}"> </li>
                    <li><img class="social" src="{% static 'images/twitter.png' %}"> </li>
                   <a href="https://github.com/proffkebi?tab=repositories"> <li><img class="social" src="{% static 'images/github.png' %}"> </li></a>
                </ul>
            </div>

        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h4>EDUCATIONAL INSTITUTIONS</h4>
                <hr>
                <pre>
ACETEL Cisco Networking Academy	                      2021-2022
Sandip University Nashik, Maharashtra India.	      2019-2021
International University of East Africa Kampala UG    2013-2014 
Institute of Information Technology Kazaure, Jigawa S 2010-12  
Ringim Computer Training School:                      2009
Government Day Secondary School Ringim:               2003– 2009
Galadanchi Model Primary School: 	              1997-2003
                </pre>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h4>QUALIFICATIONS</h4>
                <hr>
                <pre>
MSc Information Technology (MSc. IT) (Awaiting Result)
Certificate of National Youth Service Corps NYSC
Bachelor of Information Technology (BIT)
International Advance Diploma In Computing (IADIC)
International Diploma In Computing (IDIC)
Foundation Certificate for Higher Education (FCHE)
Certificate of Data Processing
Secondary School Leaving Certificate
Primary School Leaving Certificate 
                </pre>
            </div>

        </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-md-5">
            <div class="card card-body h-100">
                <h6>PROFESSIONAL CERTIFICATION</h6>
                <hr>
                <pre>
CCNA1: Introduction to Network
CCNA2: Switch Routing and Wireless Essentials (SWRE)
Network cabling specialist (NCS)
    Copper based system 
    Fiber optic based system
Integrated system voice and messaging (ISVM)
Web development using dream weaver & internet basic
Graphic design using vector & image design studio
Introduction to printing technology
Close circuit television (CCTV)
                </pre>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-body h-100">
                <h6>WORKING EXPERIENCE</h6>
                <hr>
                <pre>
Working with Himma ICT College  as a computer instructor             2012-13
Working with Ringim Computer training centre as a casual worker      2010-11 
Working with IMG business centre kazaure local government as a staff 2011-12
Network technician at Nigerian Defence Academy (NDA), Kaduna.        2015–16
National Open University of Nigeria as Senior Network Engineer 2016 - Date

                </pre>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <H6>INTEREST AND HOBBIES</H6>
                <hr>
                <p>
                    Reading, working with computer, Research and teaching.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-7">
            <div class="card card-body h-100">
                <H6>RESEARCH AND PROJECT UNDERTAKEN</H6>
                <hr>
                <p>
                   <i> # C-programming project on Government Day Secondary School Ringim </i>(A project submitted to the institute of information technology kazaure, 2009) <br>
                   <i> # HTML web design project on RNG BLACK SMITH NIGERIA LIMITED </i>(A project submitted to the institute of information technology kazaure, 2010) <br>
                   <i># System development using Dreamweaver on Online Car Racing Reservation</i> (A project submitted to the institute of information technology kazaure, 2011) <br>
                   <i># Computer laboratory network upgrade form wireless to Physical Network </i> of the International University of East Africa Kampala Uganda. <br>
                   <i># Electronic Course Material Management System.</i> A Case study of National Open University of Nigeria (a Project Submitted to the SCSE Sandip University, India)
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-body h-100">
                <H6>REFEREES</H6>
                <hr>
                <p>
                    <i> Prof. OLUBAYI OLUBAYI </i> 
                    Vice Chancellor of,
                    International University of East Africa 
                    Kampala Uganda.
                    Telephone number: +256 750401528. <br><br>
                    
                    <i>Dr. Omkar S Kimkar </i> 
                    Dean School of Computing Science and Enginearing
                    Sandip University Nashik, 
                    Mahrashtra India.
                    Telephone number: +919607111905
                    Email: deancse@sandipuniversity.edu.in <br><br>
                    
                    <i> Mr. USMAN IBRAHIM </i> 
                    Federal Inland Revenue Service 
                    Telephone number: 07035416169
                </p> 
            </div>
        </div> 
    </div> 
    <br>
</div>
</body>
</html>